language: node_js
node_js:
- 8.8.1
install:
- npm install
script: npm test
deploy:
  provider: openshift
  user: puneetvashisht@gmail.com
  password: tasteitnow@123
  app: ordermgmtapp
  domain: 'puneet06'
  on:
    repo: puneetvashisht/ordermgmtapp
after_success:
- git config --global user.email "puneetvashisht@gmail.com"
- git config --global user.name "Puneet Vashisht"
- git add README.md
- git commit -m "Travis change"
- git push
