language: node_js
node_js:
- 8.3.0
install:
- npm install
script: npm start
deploy:
  provider: openshift
  user: puneetvashisht@gmail.com
  password: tasteitnow@123
  app: ordermgmtapp
  domain: 'puneet06'
  on:
    repo: puneetvashisht/ordermgmtapp
